language: android

jdk:
 - oraclejdk7
 - oraclejdk8

android:
  components:
    - build-tools-22.0.1
    - android-22
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
    - android-sdk-license-5be876d5

sudo: false

cache:
  directories:
    - $HOME/.gradle
